@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}
<html>
    <head>

    </head>
    <body>
        <div class="wrapper row2">
            <div id="container" class="clear">
                <div id="about-us" class="clear">
                    <section id="about-intro" class="clear">
                        <h2><b>About</b></h2>
                        <img src="~/Content/images/about.jpg" alt="" width="100%" height="100%">
                        <p>
                            <big>
                                Our company was established in 2020.
                                Since 2020, we have been at your service, especially our ONLINE DİARY website.
                                We aim for our customers to plan their lives more comfortably during their busy life pace.
                                We set up an online diary for our students to plan exams, homework dates, recipes for our housewives,
                                important days for their children and lives, and more comfortable planning for their working customers.
                            </big>
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>

